<div class="col-md-4 col-md-offset-4">
  <h4>编辑版</h4>

  <hr>
  <%= form_for @group do |f| %>

  电影名称
  <br>
  <%= f.text_field :name %>
  <br>
  <br>
  <br>
  你的评论
  <%= f.text_area :description %>
  <br>
  <br>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <% end %>

</div>
